:root {
  --color-primary:    #495E57;
  --color-highlight:  #F4CE14;
  --color-secondary-1:#EE9972;
  --color-secondary-2:#FBDABB;
  --color-off-white:  #EDEFEE;
  --color-off-black:  #333333;
  --size-max-width: 900px;
}

.App {
  text-align: center;
}

header {
  background: var(--color-off-white);
}
header .logo {
  padding: 8px 16px;
}
header nav {
  max-width: var(--size-max-width);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
header ul {
  display: flex;
  list-style: none;
  gap: 1em;
}
header ul a {
  padding: 8px 16px;
  font-size: .9rem;
  display: block;
  color: var(--color-off-black);
  text-transform: uppercase;
  text-decoration: none;
}
main {
  display: flex;
  flex-flow: column;
}

.grid-content {
  max-width: var(--size-max-width);
  margin: auto;
}
.bg-primary {
  background-color: var(--color-primary);
}
.button {
  border-radius: 16px;
  text-decoration: none;
  padding:16px;
}
.cta {
  background-color: var(--color-highlight);
  color: var(--color-off-black);
}
.hero .grid-content, .about .grid-content{
  display: grid;
  place-items: center left;
  gap: 4px;
  grid-template-areas: "headline imagery"
                       "subhead imagery"
                       "body imagery"
                       "cta imagery";
  padding: 16px 8px;
}
.hero h1, .about h2 {
  grid-area: headline;
  font-size: clamp(1.5rem, 3rem, 8vw);
  margin-bottom: 0;
  margin-top: 0;
}
.hero h1 {
  color: var(--color-highlight);
}
.hero h2, .about h3 {
  grid-area: subhead;
  margin: 0;
}
.hero p, .about p {
  grid-area: body;
}
.hero .cta, .about .cta {
  grid-area: cta;
}
.hero .imagery, .about .imagery {
  grid-area: imagery;
}
.highlights .grid-content{
  max-width: var(--size-max-width);
  margin: auto;
  display: grid;
  place-items: center;
  grid-template-areas: "heading button"
                       "specials specials";
}
.highlights h2 {
  grid-area: heading;
}
.highlights a {
  grid-area: button
}
.highlights ul {
  display: flex;
  flex-wrap: wrap;
  grid-area: specials;
  list-style: none;
  justify-content: center;
  gap: 24px;
  width: 100%;
  padding-left: 0;
}
.highlights li {
  background-color: var(--color-off-white);
  padding: 0;
}
.card *:not(img) {
  padding: 4px 16px;
}
.card, .card img, .highlights li {
  border-radius: 16px 16px 0 0;
}
.card {
  display: grid;
  grid-template-areas:  "imagery imagery"
                        "title price"
                        "description description"
                        "actions actions";
  align-items: center;
}
.card img {
  grid-area: imagery;
}
.card h3 {
  grid-area: title;
  margin-bottom: 0;
}
.card .price {
  grid-area: price;
  text-align: right;
}
.card p {
  grid-area: description;
}
.card a {
  grid-area: actions;
  margin-bottom: 16px;
  text-decoration: none;
  font-weight: bold;
  color: var(--color-off-black);
}
.card a:hover {
  text-decoration: underline;
}
.testimonials {
  display: grid;
  place-items: center;
  background-color: var(--color-primary);
  padding: 5vw 0;
}

.testimonials ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 48px;
}
.testimonial {
  display: grid;
  place-items: center left;
  gap: 8px;
  padding: 16px;
  grid-template-areas:  "rating rating"
                        "image name"
                        "quotation quotation";
  background: var(--color-off-white);
}
.testimonial .rating {
  grid-area: rating;
}
.testimonial img {
  grid-area: image;
}
.testimonial .name {
  grid-area: name;
}
.testimonial .quotation {
  grid-area: quotation;
}
footer {
  background-color: var(--color-off-white);
  padding: 16px 8px;
}
footer .content {
  display: flex;
  max-width: var(--size-max-width);
  margin: auto;
  justify-content: space-evenly;
}
footer nav {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
footer h2 {
  font-size: 1rem;
}
footer ul {
  padding: 0;
  list-style: none;
}
footer ul li::before {
  content: "\200B";
}
.about .imagery img:last-child {
  --about-img-offset: 60px;
  position: relative;
  bottom: var(--about-img-offset);
  right: var(--about-img-offset);
  padding-top: var(--about-img-offset);
  margin-left: calc(-1 * var(--about-img-offset));
}

form {
  display: flex;
  flex-flow: column;
  gap: 8px;
}
input, select {
  padding: 16px;
  background: var(--color-off-white);
  border: 1px solid var(--color-off-white);
  border-radius: 16px;
  font-size: 1.25rem;
}
input:active, input:hover, select:active, select:hover {
  border-color: var(--color-primary);
}
input[type="submit"] {
  background-color: var(--color-highlight);
  padding: 16px;
  border-radius: 16px;
}
.reserve-table {
  display: grid;
  place-items: center;
}
.available-times {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin-top: 0;
}